{% extends 'base/base.html' %}

{% block title %}
Import Students
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow p-4">

        <h2 class="mb-4">
            Import Students
        </h2>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn btn-success">
                Upload Excel
            </button>

        </form>

    </div>

</div>

{% endblock %}